* {
    margin: 0;
    padding: 0;
}
.container {
    height: auto;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
}
.pix {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}
.pix:hover {
    background-color: rgb(200, 200, 200);
}